<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Reservas</title>
    <link rel="stylesheet" th:href="@{/css/propiedad-detail.css}">
</head>
<body>
<header class="navbar">
    <div class="navbar-left">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Logo Airbnb" class="logo">
        </a>
    </div>
</header>

<div class="container">
    <h1>Mis Reservas</h1>

    <div th:if="${mensaje}" th:text="${mensaje}"></div>

    <div th:if="${reservas}" th:each="${reservas}" class="reservas-lista">
        <div class="reserva-item">
            <p>Propiedad: <span th:text="${reserva.propiedadTitulo}"></span></p>
            <p>Huéspedes: <span th:text="${reserva.nroHuespedes}"></span></p>
            <p>Fecha entrada: <span th:text="${#temporals.format(reserva.entrada, 'dd-MM-yyyy')}"></span></p>
            <p>Fecha salida: <span th:text="${#temporals.format(reservas.salida, 'dd-MM-yyyy')}"></span></p>
            <p>Precio total: $<span th:text="${reserva.precioTotal}"></span></p>
        </div>
    </div>
</div>
<script th::inline="javascript">
    const usuario= /*[[${usuario}]]*/ null;
    const res= await fetch('/api/reservas/${usuario}');
    const data = await res.json();
    document.getElementById('reservas')= data;
</script>
</body>
</html>
