<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar propiedad</title>
    <link rel="stylesheet" th:href="@{/css/propiedad-detail.css}">
</head>
<body>
<header class="navbar">
    <div class="navbar-left">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Logo Airbnb" class="logo">
        </a>
    </div>
</header>

<div class="container">
    <div class="title-section">
        <h1 id="titulo">Reservar</h1>

    </div>
    <form th:action="@{/api/reservas/{propiedadId}(propiedadId=${propiedadId})}" method="post">
        <div>
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" required>
        </div>
        <div>
            <label for="nroHuespedes">Número de huéspedes:</label>
            <!-- deberiamos chequear q el maximo de huespedes sea el permitido por la habitacion-->
            <input type="number" id="nroHuespedes" name="nroHuespedes" min="1" max="10" required>
        </div>
        <div>
            <label for="fechaEntrada">Fecha de entrada:</label>
            <input type="date" id="fechaEntrada" name="fechaEntrada" required>
        </div>
        <div>
            <label for="fechaSalida">Fecha de salida:</label>
            <input type="date" id="fechaSalida" name="fechaSalida" required>
        </div>
        <button type="submit">Reservar</button>
    </form>
</div>

</body>
</html>